\#*
*~
.#*
.cache
.lsp-session*
/ac-comphist.dat
/eln-cache/
/emacs.d-jb*
/eshell/history
/eshell/lastdir
/ido.last
/projects
/session.*
/snippets/
/straight/*.el
/straight/build
/straight/repos
/transient/
history
